.pharmacyfeedback{
    background-color:#F5FAFF;
    min-height: 100vh;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
h3{
    padding:20px;
    text-align: center;
    font-weight: bold;
}
button{
    margin-left: 10px;
}
table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
}
table thead th {
  background-color: #f4f4f4;
}
th {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
}
.summary-container {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  color: #333;
  text-align: left;
}

.summary-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #5a6e8c;
  margin-bottom: 1rem;
  cursor: pointer;
}

.summary-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2rem;
}

.summary-label {
  font-weight: 600;
  font-size: 16px;
}

.summary-value {
  font-weight: 400;
  font-size: 16px;
  color: #555;
}
.modelbody{
  text-align: center; 
}
.custom-modal-size {
  max-width: 400px;
}
.icon-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #f8bb86;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-width{
  max-width:100%;
  width:1500px;
}
